version: "2"
services:
    api:
        image: automemory-client
        restart: always
        ports:
            - "4000:4000"
        depends_on:
            - database
        networks:
            webappnetwork
    database:
        image: mongo
        restart: always
        # container_name: mongodb
        volumes:
            - ./data-node:/data/db
        ports:
            - 27017:27017
        command: mongod --noauth --smallfiles
        networks:
            - webappnetwork
networks:
    webappnetwork:
        driver: bridge