version: "2"
services:
    api:
        image: automemory_server
        restart: always
        ports:
            - "4000:4000"
        links:
            - database
        networks:
            webappnetwork
    database:
        container_name: automemory_mongo
        image: mongo
        volumes:
            - ./db_backup:/data/db
        ports:
            - 27017:27017
        command: mongod --noauth
        networks:
            - webappnetwork
networks:
    webappnetwork:
        driver: bridge